<footer class="blog-footer">
    <p>GdeE Divulgación - <span>RSEF</span> — Grupo de Estudiantes</p>
    <a href="https://www.instagram.com/estudiantesrsef/" target="_blank" title="Instagram" class="social-link"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/@grupodeestudiantesrsef" target="_blank" title="YouTube" class="social-link"><i class="fab fa-youtube"></i></a>
    <a href="https://www.linkedin.com/company/grupo-de-estudiantes-rsef/" target="_blank" title="LinkedIn" class="social-link"><i class="fab fa-linkedin"></i></a>
    <a href="https://x.com/EstudiantesRSEF/" target="_blank" title="X" class="social-link"><i class="fab fa-x"></i></a>
</footer>
